.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 2s;
}

.ex-1-square:hover {
    background-color: red;
}

/* Ex.2 */

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
}

.ex-2-square:active:hover {
    width: 100%;
}

/* Ex.3 */

.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 0.5s;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* Ex.4 */

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: opacity 1s;
}

.ex-4-square:hover {
    opacity: 0;
}

/* Ex.5 */

.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: transform 1s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
}

/* Ex.6 */

.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img:hover {
    filter: grayscale(1);
}

/* Ex.7 */

.ex-7-img {
    transition: filter 2s;
}

.ex-7-img:hover {
    filter: grayscale(0.6) sepia(0.5);
}

/* Ex.8 */

.ex-8-img {
    transition: border-radius 2s, filter 2s;
}

.ex-8-img:hover {
    border-radius: 6%;
    filter: sepia(0.5) saturate(0.5);
}

/* Ex.9 */

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: transform 2s, border-radius 2s, filter 2s;
}

.ex-9-img:hover {
    transform: scale(1.5);
    border-radius: 6%;
    filter: sepia(0.5) grayscale(0.5);
}

/* Ex.10 */

.ex-10-icon {
    font-size: 60px;
    animation-name: ex10;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes ex10 {
    0% {
        transform: rotate(1turn);
    }
}

/* Ex.11 */

.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover{
    animation-name: ex11;
    animation-duration: 2s;
    animation-timing-function: linear;
}

@keyframes ex11 {
    25% {
        transform: rotate( 90deg)
    }
    50% {
        transform: rotate( 180deg)
    }
    75% {
        transform: rotate( 330deg)
    }
    100% {
        transform: rotate( 0deg)
    }
}

/* Ex.12 */

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}

.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-button:hover .ex-12-top-white {
    animation: ex12_top 3s;
}

.ex-12-button:hover .ex-12-bottom-white {
    animation: ex12_bottom 3s;
}

@keyframes ex12_top {
    0% {
        top: -10px;
        left: 10%;
    }
    50% {
        top: -10px;
        left: 69%;
    }
    100% {
        top: -10px;
        left: 10%;
    }
}

@keyframes ex12_bottom {
    0% {
        bottom: -10px;
        right: 20%;
    }
    50% {
        bottom: -10px;
        right: 69%;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}

/* Ex.13 */

.ex-13-button:hover .ex-13-top-white {
    animation: ex13_top 3s;
}

.ex-13-button:hover .ex-13-bottom-white {
    animation: ex13_bottom 3s;
}

@keyframes ex13_top {
    0% {
        top: -10px;
        left: 10%;
    }
    20% {
        top: -10px;
        left: 85%;
    }
    40% {
        top: 56px;
        left: 85%;
    }
    60% {
        top: 56px;
        left: -10%;
    }
    80% {
        top: -10px;
        left: -10%;
    }
    100% {
        top: -10px;
        left: 10%;
    }
}

@keyframes ex13_bottom {
    0% {
        bottom: -10px;
        right: 20%;
    }
    20% {
        bottom: -10px;
        right: 85%;
    }
    40% {
        bottom: 56px;
        right: 85%;
    }
    60% {
        bottom: 56px;
        right: -10%;
    }
    80% {
        bottom: -10px;
        right: -10%;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}